@using MagnetSearcher.Models;
@model ResponseSearchOption;
@{
    ViewData["Title"] = "Search Page";
}
<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>入库时间</th>
                <th>种子名</th>
                <th>磁力链</th>
                <th>大小</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model.Info) {
                <tr>
                    <td>
                        <span>@TimeZone.CurrentTimeZone.ToLocalTime(new DateTime(1970,1,1)).Add(new TimeSpan(long.Parse(info.GetDateTime.ToString() + "0000000")))</span>
                    </td>
                    <td>
                        <span>@info.Name</span>
                    </td>
                    <td>
                        <a href="magnet:?xt=urn:btih:@info.InfoHash">下载</a>
                    </td>
                    <td>
                        <span>@info.Length</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                @for (var i = 0; i < Model.Count; i+=Model.Take)
                {
                    var pagenumber = i / Model.Take + 1;
                    <th><a href="/Search/?KeyWord=@Model.KeyWord&Skip=@i&Take=@Model.Take">@pagenumber</a></th>
                }
            </tr>
        </thead>
    </table>
</div>
