html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#box {
    margin: 30px auto;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

input {
    width: 80vw;
    border: 1px solid #e2e2e2;
    height: 40px;
    float: left;
    background-image: url(images/search.jpg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px center;
    padding: 0 0 0 40px;
}

#search {
    width: 10vw;
    height: 40px;
    float: right;
    background: black;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}